<div class="modal" id="contact-modal">
    <div class="modal__content modal__content--contact">
        <button class="modal__close" type="button">
            <img src="assets/images/close.svg" alt="Закрыть">
        </button>
        <form class="form" action="/" method="POST">
            <div class="form__group form__group--md">
                <input type="text" class="form__control" placeholder="Ваше имя" value="Алексей Тютеньков">
                <span class="form__line"></span>
            </div>
            <div class="form__group form__group--md">
                <input type="email" class="form__control" placeholder="Ваш e-mail">
                <span class="form__line"></span>
            </div>
            <div class="form__group form__group--md">
                <textarea name="" class="form__control form__control--textarea"
                    placeholder="Текст сообщения"></textarea>
                <span class="form__line"></span>
            </div>
            <div class="form__footer">
                <div class="form__group form__group--md">
                    <button type="submit" class="btn btn--blue btn--rounded btn--sm">Отправить</button>
                </div>
            </div>
        </form>
        <ul class="modal__footer">
            <li>
                e-mail: <a href="mailto: info@mywebsite.ru">info@mywebsite.ru</a>
            </li>
            <li>
                тел:<a href="tel: +94323285622"> +943-232-856-22</a>
            </li>
        </ul>
    </div>
</div>