<div class="modal" id="social-modal">
    <div class="modal__content">
        <button class="modal__close" type="button">
            <img src="assets/images/close.svg" alt="Закрыть">
        </button>
        <ul class="social-modal">
            <li class="social-modal__item">
                <a class="social-modal__link" href="#">
                    <img src="assets/images/share/facebook.svg" alt="">
                </a>
            </li>
            <li class="social-modal__item">
                <a class="social-modal__link" href="#">
                    <img src="assets/images/share/twitter.svg" alt="">
                </a>
            </li>
            <li class="social-modal__item">
                <a class="social-modal__link" href="#">
                    <img src="assets/images/share/vk-2.svg" alt="">
                </a>
            </li>
            <li class="social-modal__item">
                <a class="social-modall__link" href="#">
                    <img src="assets/images/share/copy.svg" alt="">
                </a>
            </li>
        </ul>
    </div>
</div>